*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #272727; 
    position: relative;


    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

} body::-webkit-scrollbar{ display: none }

#root{  
    background: rgb(46, 43, 44);
    width: 100%; 
}
 

.form{
    background: rgb(46, 43, 44);
    position: fixed;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.textarea{
    width: 100%;
    height: 100%;

    background: none;
    border: none;
    outline: none;
    resize: none;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;

      padding: 20px;

      color: #ffffff;
}   .textarea::-webkit-scrollbar{ display: none; }

.div{
    background: #000000;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    background: none;
    color: #ffffff;
    border: none;
    outline: none;

}